.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #181818;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    gap: 40px;
   
  }
  
  .player-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 15px;
  }
  .player{
    display: flex;
    justify-content: space-around;
    justify-items: center;
  }
  
  .player-info h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .player-info p {
    font-size: 12px;
    color: #aaa;
  }
  
  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  @media(max-width:500px){
    .music-player{
      gap: 2px;
    }
    .player-info h3 {
      display: none;
    }
    .audio{
      width: 230px;
      }
  }
  